<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parcel Assignment</title>
</head>
<body>
    <h1>Parcel Assignment</h1>

    <form method="post" action="{% url 'parcel_assignment' %}">
        {% csrf_token %}
        <h2>Pending Parcels</h2>
        <ul>
            {% for parcel in pending_parcels %}
            <li>
                <label>
                    <input type="checkbox" name="approved_parcels" value="{{ parcel.id }}">
                    Parcel ID: {{ parcel.id }} - Tracking number: {{ parcel.tracking_number }} - Parcel Locker: {{ parcel.destination_parcel_locker.city }} ({{ parcel.destination_parcel_locker.locker_number }})
                </label>
            </li>
            {% endfor %}
        </ul>

        <label for="select_courier">Select Courier:</label>
        <select id="select_courier" name="select_courier">
            <option value="{{ current_user.id }}">{{ current_user.username }}</option>
        </select>

        <button type="submit">Assign Selected Parcels</button>
    </form>

    <div class="button-container">
        <button onclick="goBack()">Back</button>
    </div>

    <script>
        function goBack() {
            window.location.href = '/users/account/';
        }
    </script>
</body>
</html>