<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Package</title>
</head>
<body>
    <h1>Track Package</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="tracking_number">Enter tracking number:</label>
        <input type="text" id="tracking_number" name="tracking_number">
        <button type="submit">Track</button>
    </form>
    <br>
    <button type="submit"><a href="{% url 'home' %}">Back to Home</a></button>
</body>
</html>